<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src="../assets/menino.png" class="img">

  <ion-card (click)="ati()">
    <ion-card-header >
      Atividades
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item-sliding *ngFor="let item of items | async">
              <ion-item *ngIf="item.tipo == 'ati'">
                  <div class="font">
                      <span class="nome">  Atividade: {{ item?.atividade }}</span>
               
               <span class="data"> Data:{{ item?.data }}</span> 
              </div>
              </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="pro()">
    <ion-card-header>
      Provas
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item-sliding *ngFor="let item of items | async">
              <ion-item *ngIf="item.tipo == 'prova'">
                  <div class="font">
                      <span class="nome"> Prova:  {{ item?.atividade }}</span>
               
               <span class="data">Data:{{ item?.data }}</span> 
                  </div>
              </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="ead()">
    <ion-card-header>
      EAD
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item-sliding *ngFor="let item of items | async">
              <ion-item *ngIf="item.tipo == 'ead'">
                  <div class="font">
              <span class="nome">EAD:  {{ item?.atividade }}</span>
               
               <span class="data">Data:{{ item?.data }}</span> 
              </div>
              </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="sem()" class="sem" style="margin-bottom: 60px;">
    <ion-card-header>
      Seminários
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item-sliding *ngFor="let item of items | async">
              <ion-item *ngIf="item.tipo == 'sem'">
                  <div class="font">
                      <span class="nome"> Seminario: {{ item?.atividade }}</span>
               
               <span class="data">Data:{{ item?.data }}</span> 
        </div>
              </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-grid >
    <ion-row class="dias">
      <ion-col col-2 class="caixaHorario seg">Seg</ion-col>
      <ion-col col-2 class="caixaHorario ter">Ter</ion-col>
      <ion-col col-2 class="caixaHorario qua">Qua</ion-col>
      <ion-col col-2 class="caixaHorario qui">Qui</ion-col>
      <ion-col col-2 class="caixaHorario sex">Sex</ion-col>
      <ion-col col-2 class="caixaHorario sab">Sab</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
