page-home {
  .caixaHorario{
    height: 60px;
    position: relative;
    background: #33b5e5;
    border: white 0.3px solid;


  }
  .dias{
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 23px;
    text-align:center;
    position: fixed;

  }
  .seg{
    background:#f12040;
  }
  .img{
    width: 30%;
  }

.data{position: absolute; right: 0px;border-bottom: 0.2px black solid;}
.font{font-size: 13px;padding:0px; }
.nome{position: absolute; left: 0px;border-bottom: 0.2px black solid;}
}
